.wpshop_admin_box_options_pages table.form-table th, .wpshop_admin_box_options_message table.form-table th  {
	width: 550px;
}
.wpshop_admin_box_options_message table.form-table select  {
	width: 350px !important;
}

.shop-content-customisation.dashicons-welcome-write-blog {
	margin: 1px;
}
.wpshop_options_tabs ul li {
	height: 30px;
	display: none;
}

.ui-tabs.wpshop_options_tabs ul li {
	display: inline-block;
	margin: 0;
	width: auto;
}
