#postdiv.postarea, #postdivrich.postarea { margin:0; }
#post-status-info { line-height:1.4em; font-size:13px; }
#wpshop_product_main_infos .inside { margin:2px 6px 6px 6px; }
#postdiv #ed_toolbar, #postdivrich #ed_toolbar { display:block; }