#wpshop_wpshop_variations .inside {
	margin: 0;
	padding: 0;
}
#wpshop_wpshop_variations .inside [type="checkbox"] {
	width: 20px;
	height: 20px;
	box-shadow: none;
	background: #FFF;
	border: 1px solid #DDD;
	margin: 0;
}
#wpshop_wpshop_variations .inside [type="checkbox"]:not(:checked):before {
	content: '';
	transition: all .2s;
}
#wpshop_wpshop_variations .inside [type="checkbox"]:checked:before {
	position: relative;
	top: 6px;
	left: 5px;
	content: '\e817';
	opacity: 1;
	color: #4c8fd4;
	font: 400 12px/1 "fontello";
	transition: all .2s;
}

#wpshop_wpshop_variations .inside .hide {
	display: none;
}

#wps_variations_summary {
	margin: 0;
	padding: 0;
	height: 32px;
	width: 100%;
}
#wps_variations_summary #wps_variations_summary_display {
	float: left;
	height: 20px;
	width: calc(100% - 44px);
	font-size: 14px;
	margin: 0;
	padding: 6px 0px 6px 12px;
	color: #444;
}
#wps_variations_summary #wps_variations_parameters {
	height: 20px;
	width: 20px;
	font-size: 20px;
	float: right;
	padding: 4px 5px 8px 7px;
	margin: 0;
	color: #FFF;
	background: #0085ba;
}
#wps_variations_summary #wps_variations_parameters:hover {
	background: #005B80;
	cursor: pointer;
}

#wps_variations_options {
	margin: 0;
	padding: 12px;
	background: #E8E8E8;
	width: calc(100% - 24px);
	/* float: left; */
	display: table;
	column-count: 5;
}
#wps_variations_options ul {
	display: table-row;
	height: 32px;
	margin: 0;
	padding: 0;
	width: 100%;
}
#wps_variations_options #wps_variations_options_title {
	font-size: 14px;
	font-weight: bold;
}
#wps_variations_options #wps_variations_options_title li {
	display: table-cell;
	height: 32px;
	margin: 0;
	padding: 0;
}
#wps_variations_options .wps_variations_options_raw li {
	display: table-cell;
	vertical-align: middle;
	height: 32px;
	margin: 0;
	padding: 10px 0 0 0;
}
#wps_variations_options .wps_variations_options_raw li .chzn-container-multi {
	height: 25px;
	display: inline-block;
	width: calc(100% - 24px) !important;
}
#wps_variations_options .wps_variations_options_raw li .chzn-choices {
	height: 24px !important;
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #DDD;
}
#wps_variations_options .wps_variations_options_raw li .search-choice {
	margin: 2px;
	padding: 3px 20px 3px 3px;
	display: block;
	position: absolute;
	height: auto;
	font-size: 12px;
}
#wps_variations_options .wps_variations_options_raw li .search-field {
	margin: 0;
	padding: 0;
	height: 23px;
}
#wps_variations_options .wps_variations_options_raw li .search-field input {
	margin: 0;
	height: 23px;
}
#wps_variations_options .wps_variations_options_raw li .chzn-drop {
	line-height: 0;
}
#wps_variations_options .wps_variations_options_raw li .chzn-drop .chzn-results {
	display: inline-block;
	height: auto;
	width: 100%;
	margin: 0;
}
#wps_variations_options .wps_variations_options_raw li .chzn-drop .chzn-results li {
	display: inline-block;
	height: auto;
	margin: 0;
	padding: 5px 6px;
	width: calc(100% - 12px);
}
#wps_variations_options .wps_variations_options_raw li .chzn-drop .chzn-results li.result-selected {
	display: none;
}
#wps_variations_options .wps_variations_options_raw li select {
	width: 100%;
	height: 26px;
}
#wps_variations_options .wps_variations_options_raw .wps_variations_generate_col {
	width: 12%;
}
#wps_variations_options .wps_variations_options_raw .wps_variations_label_col {
	width: 12%;
}
#wps_variations_options .wps_variations_options_raw .wps_variations_requiered_col {
	width: 11%;
}
#wps_variations_options .wps_variations_options_raw .wps_variations_possibilities_col {
	width: 45%;
}
#wps_variations_options .wps_variations_options_raw .wps_variations_default_col {
	width: 20%;
}


#wps_variations_tabs {
	color: #444;
	width: 100%;
	background: #DDD;
	padding: 0;
	margin: 0;
	font-size: 11px;
	height: 32px;
}
#wps_variations_tabs ul {
	padding: 0;
	margin: 0;
}
#wps_variations_tabs li {
	padding: 5px 12px 5px 12px;
	margin: 0;
	float: left;
	height: 20px;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	background: #EEE;
}
#wps_variations_tabs li:hover {
	background: #DDD;
	cursor: pointer;
}
#wps_variations_tabs li.active {
	margin-bottom: -1px;
	padding-bottom: 7px;
	background: #FFF;
	border-bottom: 0;
}
#wps_variations_tabs li#wps_variations_apply_btn {
	color: #FFF;
	padding: 6px 12px 6px 12px;
	border: 0;
	float: right;
	background: #0085ba;
}
#wps_variations_tabs li#wps_variations_apply_btn:hover {
	background: #005B80;
	cursor: pointer;
}
#wps_variations_tabs li#wps_variations_apply_btn.disabled {
	color: #888;
	padding: 7px 12px 7px 12px;
	border: 0;
	float: right;
	background: #DDD;
}

.wps_variations_tabs {
	border: 1px solid #DDD;
	margin: 0;
	padding: 10px;
}

#wps_variations_price_option_tab {
	display: table;
	width: 100%;
}
#wps_variations_price_option_tab ul {
	display: table-row;
	height: 32px;
	margin: 0;
	padding: 0;
	width: 100%;
}
#wps_variations_price_option_tab li {
	display: table-cell;
	height: 32px;
	margin: 0;
	padding: 0;
}
#wps_variations_price_option_tab #wps_variations_price_option_tab_title {
	font-size: 14px;
	font-weight: bold;
}
