@CHARSET "ISO-8859-1";

.bouton_wpshop_commander {
	position : relative;
	background-color: #FACC2E;
    background-image: -moz-linear-gradient(center top , #F5D130, #D99C2C);
    background-repeat: repeat-x;
    border: 1px solid #F5D65B;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
    color: #030634;
    font-size: 0.785714rem;
    font-weight: normal;
    line-height: 1.42857;
    padding: 0.428571rem 0.714286rem;
    text-decoration : none;
}
.bouton_wpshop {
	position : relative;
	background-color: #0A6590;
    background-image: -moz-linear-gradient(center top , #34BCFB, #0A6590);
    background-repeat: repeat-x;
    border: 1px solid #54C1E2;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
    color: #FFFFFF;
    font-size: 0.785714rem;
    font-weight: normal;
    line-height: 1.42857;
    padding: 0.428571rem 0.714286rem;
    text-decoration : none;
}
.bouton_wpshop a {
	color : #FFFFFF;
	text-decoration : none !important;
}
.bouton_wpshop a:hover {
	color : #A8E6F8;
	text-decoration : none !important;
}
.bouton_wpshop_commander a {
	color : #030634 !important;
	text-decoration : none !important;
}
.bouton_wpshop_commander a:hover {
	color : #FFFFFF!important;
	text-decoration : none !important;
}
#product_img_dialog_box {
	position : relative; 
	float : left;
	width : 150px;
	height : 150px;	
	overflow : hidden;
	border : 5px solid #D5D5D5;
}
#product_img_dialog_box img{
	height : 150px;
}
#product_infos_dialog_box {
	position : relative; 
	float : left;
	margin-left : 10px;
	min-height : 160px;
	height : auto;
	width : 380px;
}
#buttons_line_dialog_box {
	position : relative; 
	float : left;
	margin-top : 20px;
	width : 550px;
}
.product_title_dialog_box {
	font-weight : bold;
	font-color : #6A6A6A;
	font-size : 18px;	
}
.product_price_dialog_box {
	font-weight : bold;
	font-color : #6A6A6A;
	font-size : 18px;	
}
#wpshop_add_to_cart_box_related_products {
	position : relative;
	margin : 20px 0 0 0;
	width : 100%;
	background : #D5D5D5;
	float : left;
}

#wpshop_add_to_cart_box_related_products li {
	float : left;
	list-style : none;
	margin : 10px;	
	width : 115px;
	font-size : 12px;
	text-align : center;
}
#wpshop_add_to_cart_box_related_products img {
	max-width : 100px;
	width : auto;
	height : auto;
	border : 2px solid #FFFFFF;
}

#wpshop_add_to_cart_box_related_products h3 {
	margin : 10px;
	text-transform : uppercase;
}