
.wps-label {
	font-size: .8em;
	line-height: 1;
	padding: .3em .6em;
	display: inline-block;
	vertical-align: middle;		
	font-weight: 700;
	color: #fff;
	text-align: center;
	white-space: nowrap;	
	color:@b;
	background:#848484;
	border:none;
	border-radius: 3px;
	font-family: sans-serif;
	i {
		margin-right: .6em;
		color:@b;
	}
}
.wps-rouge {
	background: @wps-rouge;
}
.wps-orange {
	background: @wps-orange;
}
.wps-bleu {
	background: @wps-bleu;
}
.wps-vert {
	background: @wps-vert;
}
.wps-jaune {
	background:#f9da07;
}

.wps-label-rouge {
	.wps-label;
	.wps-rouge;
}
.wps-label-orange {
	.wps-label;
	.wps-orange;
}
.wps-label-bleu {
	.wps-label;
	.wps-bleu;
}
.wps-label-vert {
	.wps-label;
	.wps-vert;
}
.wps-label-jaune {
	.wps-label;
	.wps-jaune;
}


@media (max-width: 90em) {
  
}
@media (max-width: 80em) {
  
}
@media (max-width: 70em) {
  
}
@media (max-width: 60em) {	
	.wps-label {
		height: 2em;
		width: 2em;
		border-radius: 50%;
		padding: 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		i {
			margin: 0;
		}
		> span {
			display: none;
		}
		.wps-icon-love, .wps-icon-star {
			padding-top: .15em;
		}
	}
}
@media (max-width: 50em) {
	
}
@media (max-width: 40em) {
	
}
@media (max-width: 30em) {
	
}
@media (max-width: 20em) {
	
}